#root {
  position: absolute;
}
.game-item {
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  border: solid #DDD 1px;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  height: 13rem;
  overflow: hidden;
  min-width: 1fr;
  background: #FEFEFE;
  backdrop-filter: blur(0.1rem);
  transition: box-shadow 0.1s ease-in-out, width 0.2s ease-in-out, height 0.2s ease-in-out, top 0.2s ease-in-out, left 0.2s ease-in-out;
}

.game-item:hover {
  border: solid var(--blue-tertiary) 1px;
  background: ;
  position: relative;
  transition: box-shadow 0.2s ease-in-out, width 0.2s ease-in-out, height 0.2s ease-in-out, top 0.2s ease-in-out, left 0.2s ease-in-out;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  & .genre-list {
    visibility: visible;
  }
}
.name {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  height: 3rem;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
.genre-list{
  visibility: hidden;
}

.game-item:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background-color: white;
  right: -25%;
  top: 20px;
}

.game-item:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background-color: rgb(57, 27, 112);
  left: -25%;
  top: -240px;
}


